<h1>The Longest Word Game</h1>
<p>This is the grid <%= @grid.join(" ") %></p>

<form action="<%= score_path %>" method="GET" class="form-inline">
  <div class="form-group">
    <input type="text" name="attempt" class="form-control">
    <input type="hidden" name="grid" value="<%= @grid.join("") %>" class="form-control">
    <input type="hidden" name="start_time" value="<%= @start_time %>" class="form-control">
  </div>
  <button class="btn btn-primary">Submit</button>
</form>
